@page "/help"
@model RazorPagesTour.Pages.HelpModel
@{
}

<h1 class="h2">Request Help</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        
    </div>
</div>

@section RightFooter{
    <p>Call us at +3936600000</p>
    <p>Hours of operation 9am to 3pm</p>
}